/* Please ❤ this if you like it! */


/* ======================================== * 
		        BEST VIEWED FULLSCREEN
   https://codepen.io/ig_design/full/GPVXVx
 * ======================================== */

 @import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext,vietnamese');
 @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');

 body{
     width: 100%;
     display: block;
     overflow-x: hidden;
     background:linear-gradient(to bottom, #000,#3c3b3f,#000);
    color: #c4c3ca;
     font-family: 'Muli','IBM Plex Sans KR', sans-serif;
     scrollbar-width: thin;
 }
 ::-webkit-scrollbar { width: 10px; }
 ::-webkit-scrollbar-track { background:#000 }
 ::-webkit-scrollbar-thumb { background: #3c3b3f; border-radius: 10px;}

 ::selection {
     background-color: #000;
   color: #fff;
 }
 ::-moz-selection {
     background-color: #000;
   color: #fff;
 }
 a:hover{
   text-decoration: none;
 }
 /* #Cursor
 ================================================== */
 
 .cursor,
 .cursor2,
 .cursor3{
     position: fixed;
     border-radius: 50%;	
     transform: translateX(-50%) translateY(-50%);
     pointer-events: none;
     left: -100px;
     top: 50%
 }
 .cursor{
     background-color: #fff;
     height: 0;
     width: 0;
     z-index: 99999;
 }
 .cursor2,.cursor3{
     height: 36px;
     width: 36px;
     z-index:99998;
     -webkit-transition:all 0.3s ease-out;
     transition:all 0.3s ease-out
 }
 .cursor2.hover,
 .cursor3.hover{
     -webkit-transform:scale(2) translateX(-25%) translateY(-25%);
     transform:scale(2) translateX(-25%) translateY(-25%);
     border:none
 }
 .cursor2{
     border: 2px solid #fff;
     box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);
 }
 .cursor2.hover{
     background: rgba(255,255,255,.1);
     box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
 }
 @media screen and (max-width: 1200px){
     .cursor,.cursor2,.cursor3{
         display: none
     }
 }

 /* svg */

 #svg1,#svg2,#svg3,#svg4{
   position:absolute;
   height:auto;
   overflow: hidden;
   z-index: -1;
   filter: blur(3px);
   opacity: 0.4;
  }
  #svg1{
    right:0;
    bottom:-20px;
    width:90%;
  }
  #svg2{
    top:-10%;
    left: 50%;
    transform: translate(-50%,0);
    width:100%;
  }
  #svg3{
    top:0%;
    left:0;
    width:70%;
  }
  #svg4{
    right:0;
    bottom:0;
    width:90%;
  }

  .full_wrap{
    overflow: hidden;
  }

 /* info */
 .info_fullbox{
   position:relative;
   overflow:visible;
 }
 .info_box{
   position:relative;
   width:65%;
   margin: 10px auto;
   padding-top: 100px;
   overflow: hidden;
   border-radius: 20px;
 }

 .info_box>h2{
   position: absolute;
   font-size: 100px;
   right:0;
   bottom:0;
   font-weight: 100;
 }

 .info_left{
   width:50%;
   float: left;
   padding:0 20px;
   border-right: 1px solid rgba(255,255,255,0.3);
 }
 .info_left>h3, .info_right>h3{
   color: #fff;
   font-weight: 900;
   text-shadow: 0px 0px 10px rgb(209, 209, 209);
 }
 .info_left>span{
   display: inline-block;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  background: #3c3b3f;
  border-radius: 10px;
}
.info_left>span:nth-of-type(1){
  margin:0;
}

 .info_right{
  width:50%;
  float: right;
  padding:0 20px;
  text-align: center;
}

.info_right P span{
  font-size: 11px;
}
.info_right P span:nth-of-type(1){
  margin-right: 10px;
}
.info_right P span:nth-of-type(2){
  margin-left: 10px;
  padding: 5px 10px;
  background: #3c3b3f;
  border-radius: 10px;
}

.info_profile{
  width:100%;
  height: 0;
  padding-bottom: 60%;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px #8e8d92;
}
.info_profile>img{width:100%; height: auto;}


 /*백*/
 
 .shadow-title{
     position: fixed;
     top: 0;
     margin-top: 30px;
     left: 20px;
     width: 100%;
     height: 110%;
     text-align: left;
     font-family: 'Muli', sans-serif;
     -webkit-writing-mode: vertical-lr;
     writing-mode: vertical-lr;
     font-size: 18vw;
     line-height: 1;
     color: rgba(200,200,200,.1);
     background: linear-gradient(90deg, rgba(200,200,200,0), rgba(200,200,200,0.35));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-weight: 900;
     z-index: 1;
 }
 .section-parallax{
  position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-position: center;
   background-size: cover;
   z-index: 2;
 }

 .parallax-03,.parallax-04{
   position: absolute;
   bottom:0;
   width: 100%;
   height: 100%;
   z-index: -1;
   background-repeat: no-repeat;
 }

 .section {
   position: relative;
     width: 100%;
     display: block;
 }
 .full-height {
     height: 100vh;
 }
 .section.z-bigger {
     z-index: 100;
 }
 .section.z-bigger-2 {
     z-index: 200;
 }
 .section-title-wrap{
     position: absolute;
   top: 50%;
   left: 0;
   width: 100%;
   transform: translateY(-50%);
   z-index: 3;
 }
 .section-title-wrap p{
     letter-spacing: 2px;
     font-size: 22px;
     font-weight: 200;
     padding: 0;
 }
 .section-title-wrap p span{
   background: #333;
   padding:5px 10px;
   border-radius: 10px;
 }
 .section-title-wrap p>span:nth-child(2){
   background: transparent;
   display: inline;
 }
 .section-title-wrap h1{
     margin: 0;
     padding: 0;
     font-size: 6vw;
   letter-spacing: 8px;
     font-weight: 900;
   color: #fff;
     line-height: 1;
   text-transform: uppercase;
   text-shadow: 0px 0px 10px #000;
 }
 .padding-top-bottom {
     padding-top: 100px;
     padding-bottom: 100px;
 }
 .over-hide{
     overflow: hidden;
 }
 .background-dark {
  background:transparent;
 }
 .project-link-wrap{
     position: relative;
     display: block;
     width: 100%;
     text-align: center;
     margin: 0 auto;
     text-transform: none;
 }
 .bottom_box{
   display: block;
   width: 80%;
   height: 100%;
   margin: 0 auto;
 }
 .bottom_box>h3{
    font-weight: 200;
    text-shadow: 0px 0px 5px #fff;
    border-bottom: 1px solid #aaa;
 }
 .padding-top-bottom>h5{
   position: absolute;
    bottom: 10px;
    width: 100%;
   font-size: 12px;
   font-weight: 200;
   text-align: center;
   text-shadow: 0px 0px 5px #fff;
 }
 .bottom_box p{
     color: #aaa;
     font-weight:200;
     text-align: left;
     text-indent: 10px;
     opacity:1;
     transition: all ease 0.5s;
 }
 .project-link-wrap:hover p{
     opacity: 0.15;
 }
 
 /* Case Study Showcase
 ================================================== */
 
 .case-wrapper {
     position: relative;
     z-index: 10;
     width: 50%;
     margin: 0 auto;
     padding: 8px 15px;
     list-style: none;
   background:linear-gradient(to right, #000,#333,#000);
   border-radius: 10px;
   box-shadow: 0 0 30px rgba(0,0,0,.8);
   text-align: center;
 }
 .case-wrapper .case-study-name {
     margin: 5px;
     display: inline-block;
     text-align: center;
 }
 .case-wrapper .case-study-name a {
     position: relative;
     list-style: none;
     margin: 0 auto;
     display: block;
     text-align: center;
     padding: 0;
     font-size: 14px;
     font-weight: 800;
     line-height: 1;
     letter-spacing: 2px;
     color: #8e8d9a;
     opacity: 0.5;
     text-decoration: none;
   text-transform: uppercase;
     -webkit-transition: all 300ms linear;
     transition: all 300ms linear; 
 }	
 .case-wrapper .case-study-name a:hover {
     text-decoration: none;
 }	
 .case-wrapper .case-study-name.active a {
     opacity: 1;
     color: #fff;
 }	
 .case-study-images {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     margin:0;
     z-index:2;
 }	
 .case-study-images li {
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     overflow: hidden;
     list-style:none;
     -webkit-transition: all 300ms linear;
     transition: all 300ms linear; 
 }
 
 .case-study-images li .img-hero-background{
     position: absolute;
     width: calc(100% - 80px);
     height: inherit;
     max-width:90%;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     background-position:center center;
     background-repeat:no-repeat;
     top: 50%;
     left: 50%;
     overflow: hidden;
     list-style:none;
     opacity: 0;
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     -webkit-transition: all 300ms linear;
     transition: all 300ms linear;
     margin-top:100px;
     text-align: center;
 }

 .case-study-images li.show{
  position: relative;
  z-index: 999;
 }

 .case-study-images li a{
  width: 90%; max-height: 800px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 20px;
 }
 .case-study-images li a img{
  width: 100%;
 }

 .case-study-images li .img-hero-background img{
  display: inline-block;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,.6);
  margin:5px;
 }
 .case-study-images li .logotitle img{
   width: auto;
   max-height: 20%;
   background: rgba(0,0,0,0.5);
 }
 .case-study-images li .bookcover img{
  width:auto;
  max-height:50%;
}
.case-study-images li .etc img{
  width: auto;
  max-height: 27%;
}


 .case-study-images li.show .img-hero-background {
     opacity: 1;
 } 
 .case-study-images li .case-study-title{
     position: absolute;
     top: 0;
   height: 100%;
   text-align: center;
     left: 30px;
     display: block;
     opacity: 0;
     z-index: 19;
     letter-spacing: 1px;
     font-size: 14px;
     -webkit-writing-mode: vertical-lr;
     writing-mode: vertical-lr;
     font-weight: 400;
     line-height: 16px;
     color: #fff; 
     font-style: italic;
     -webkit-transform: translateX(-100%);
     transform: translateX(-100%);
     -webkit-transition: all 300ms linear;
     transition: all 300ms linear; 
 }
 .case-study-images li.show .case-study-title {
     opacity: 1;
     -webkit-transform: translateX(0);
     transform: translateX(0);
 } 
 .case-study-images li .hero-number-back{
     position: absolute;
     bottom: 0;
     left: 50%;
     -webkit-transform: translateX(-50%);
     transform: translateX(-50%);
     display: block;
     list-style:none;
     opacity: 0;
     font-size: 100px;
     font-weight: 900;
     line-height: 1;
     color: rgba(255,255,255,.2);
     z-index: 5;
     -webkit-transition: all 300ms linear;
     transition: all 300ms linear; 
 } 
 .case-study-images li .hero-number{
     position: absolute;
     bottom: 40px;
     left: 50%;
     width: 40px;
     margin-left: -70px;
     display: block;
     letter-spacing: 2px;
     text-align: center;
     list-style:none;
     opacity: 0;
     font-size: 13px;
     font-weight: 300;
     line-height: 1;
     color: #fff;
     z-index: 6;
     -webkit-transform: translateY(100%);
     transform: translateY(100%);
     -webkit-transition: all 300ms linear;
     transition: all 300ms linear; 
 } 
 .case-study-images li .hero-number-fixed{
     position: absolute;
     bottom: 40px;
     left: 50%;
     margin-left: 30px;
     width: 40px;
     text-align: center;
     display: block;
     letter-spacing: 2px;
     list-style:none;
     font-size: 13px;
     font-weight: 300;
     line-height: 1;
     color: #fff;
     z-index: 6;
 }
 .case-study-images li .hero-number-fixed:before{
     position: absolute;
     content: '';
     top: 50%;
     left: -60px;
     width: 60px;
     height: 1px;
     z-index: 1;
     background-color: rgba(255,255,255,.4);
 }
 .case-study-images li.show .hero-number {
     opacity: 1;
     -webkit-transform: translateY(0);
     transform: translateY(0);
 } 
 .case-study-images li.show .hero-number-back {
     opacity: 1;
 } 
 
 /* #back to top arrow
 ================================================== */
 
 .scroll-to-top{
     position: fixed;
     bottom: 30px;
     right: 30px;
     opacity: 0;
     visibility: hidden;
     width: 10px;
     height: 40px;
     z-index: 251;
     background-repeat: no-repeat;
     background-position: top center;
     background-size: 10px 40px;
     cursor: pointer;
     background-image: url('http://www.ivang-design.com/svg-load/parallax/arrow-up.png');
     transform: translateY(-15px);
     -webkit-transition: all 250ms linear;
     transition: all 250ms linear; 
 }
 .scroll-to-top:hover{
     bottom: 32px;
 }
 .scroll-to-top.active-arrow{
     opacity: 1;
     visibility: visible;
     transform: translateY(0);
 }
 
 /*차트*/

.spec_box {
  position: relative;
  display: block;
  margin-top:300px;
  padding-top:50px;
  text-align: center;
  overflow: visible;
}
.spec_box>h2{
  font-size: 50px;
  font-weight: 200;
  color:#fff;
  text-shadow: 0px 0px 5px #fff;
  padding-bottom: 20px;
}

.spec_d,.spec_p{
  position: relative;
  width: 60%;
  padding:40px 10px;
  border-top:1px solid #fff;
  margin: 0 auto;
  align-items: start;
}

.chart {
  position: relative;
  top:0;
  display: inline-grid;
  width: 190px;
  font-size: 20px;
  text-align: center;
  margin: 0 20px;
}

.chart figcaption {
  padding: 50px 25px;
  width: 190px;
  height: 190px;
  font-size: 0;
  border-radius: 100px;
  line-height: 50px;
}

.chart>h3{
  color: #fff;
  font-size: 23px;
  font-weight: 200;
  margin: 20px 0;
  padding:5px 0;
  border-radius: 20px;
  box-shadow: 0 10px 30px #111;
}

.spec_d .chart:nth-child(1)>h3{
  background: #001834;
}
.spec_d .chart:nth-child(2)>h3{
  background: #390000;
}
.spec_d .chart:nth-child(3)>h3{
  background: #470137;
}

.spec_p .chart:nth-child(1)>h3{
  background: #9f2a09;
}
.spec_p .chart:nth-child(2)>h3{
  background: #055f97;
}
.spec_p .chart:nth-child(3)>h3{
  background: #ad9e04;
}

.chart>p{
  font-size: 16px;
  font-weight: 400;
  text-shadow: 0px 0px 5px #111;
}

.chart img {
  position: absolute;
  max-width: 95px;
  max-height: 95px;
}
/* END Container styles */

/* Colors for the circles and positions for the graphics */
.photoshop {
  top: 50px;
  left: 45px;
}

.photoshop + svg .outer {
  stroke: url('#gradient1');
}

.illustrator {
  top: 50px;
  left: 45px;
}

.illustrator + svg .outer {
  stroke: url('#gradient2');
}

.xd {
  top: 50px;
  left: 45px;
}

.xd + svg .outer {
  stroke: url('#gradient3');
}


.html {
  top: 50px;
  left: 45px;
}

.html + svg .outer {
  stroke: url('#gradient4');
}

.css {
  top: 55px;
  left: 48px;
}

.css + svg .outer {
  stroke: url('#gradient5');
}

.javascript {
  max-width: 90px;
  max-height: 90px;
  top: 45px;
  left: 45px;
}

.javascript + svg .outer {
  stroke: url('#gradient6');
}

.chart svg {
  position: absolute;
  top: 0;
  left: 0;
}

.outer {
  fill: transparent;
  stroke: #333;
  stroke-width: 20;
  stroke-dasharray: 534;
  transition: stroke-dashoffset 1s;
  -webkit-animation-play-state: running;
  
  /* firefox bug fix - won't rotate at 90deg angles */
  -moz-transform: rotate(-89deg) translateX(-190px);
}

.chart:hover .outer {
  stroke-dashoffset: 534 !important;
  -webkit-animation-play-state: paused;
}
/* END Circle colors and graphic positions */


/* Set the initial values for the animation */

.chart[data-percent='95'] .outer {
  stroke-dashoffset: 27;
  -webkit-animation: show95 2s;
  animation: show95 2s;
  animation-delay: 2s;
}

.chart[data-percent='90'] .outer {
  stroke-dashoffset: 54;
  -webkit-animation: show90 2s;
  animation: show90 2s;
  animation-delay: 2s;
}

.chart[data-percent='80'] .outer {
  stroke-dashoffset: 107;
  -webkit-animation: show80 2s;
  animation: show80 2s;
  animation-delay: 2s;
}

.chart[data-percent='65'] .outer {
  stroke-dashoffset: 187;
  -webkit-animation: show65 2s;
  animation: show65 2s;
  animation-delay: 2s;
}

/* END set initial animation values */

/* Keyframes for the initial animation */

@-webkit-keyframes show95 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 27;
  }
}

@keyframes show95 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 27;
  }
}

@-webkit-keyframes show90 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 54;
  }
}

@keyframes show90 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 54;
  }
}

@-webkit-keyframes show80 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 107;
  }
}

@keyframes show80 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 107;
  }
}

@-webkit-keyframes show65 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 187;
  }
}

@keyframes show65 {
  from {
    stroke-dashoffset: 537;
  }
  
  to {
    stroke-dashoffset: 187;
  }
}

/* END Keyframes for the initial animation */


 /*카드*/
 .main {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 80;
  }
  
  .wrap {
    margin: 2rem;
  
    transform-style: preserve-3d;
    transform: perspective(100rem);
  
    cursor: pointer;
  }

  .mouse{
    position: relative;
    width:300px;
    height: 90px;
  }
  .mouse img{
    height:100%;
  }
  .mouse span{
    display:block;
    padding-top: 10px;
    line-height: 1em;
  }
  .mouse::after{
    content: '●';
    position: absolute;
    top:5%;
    left:47.5%;
    color: #fff;
    text-shadow: 0px 0px 5px #fff;
    animation: 2s ease infinite mousewheel;
  }
  @-webkit-keyframes mousewheel {
    0% {
      top:5%;
      opacity: 0;
    }
    15%{
      top:5%;
      opacity: 1;
    }
    80%{
      top:35%;
      opacity: 1;
    }
    100% {
      top:40%;
      opacity: 0;
    }
  }
  @keyframes mousewheel {
    0% {
      top:5%;
      opacity: 0;
    }
    15%{
      top:5%;
      opacity: 1;
    }
    80%{
      top:35%;
      opacity: 1;
    }
    100% {
      top:40%;
      opacity: 0;
    }
  }
  
  .con {
    --rX: 0;
    --rY: 0;
    --bX: 50%;
    --bY: 80%;
  
    width: 30rem;
    height: 30rem;
    border: 1px solid var(--background-color);
    border-radius: 1.6rem;
    padding: 4rem;
    display: flex;
    align-items: flex-end;
    position: relative;
    transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));
    box-shadow: 0 10px 30px #111;
    transition: transform .6s 1s;
    overflow: hidden;
  }
  
  .con::before,
  .con::after {
    content: "";
  
    width: 2rem;
    height: 2rem;
    border: 1px solid #fff;
  
    position: absolute;
    z-index: 2;
  
    opacity: .3;
    transition: .3s;
  }
  
  .con::before {
    top: 2rem;
    right: 2rem;
  
    border-bottom-width: 0;
    border-left-width: 0;
  }
  
  .con::after {
    bottom: 2rem;
    left: 2rem;
  
    border-top-width: 0;
    border-right-width: 0;
  }
  
  .container--active {
    transition: none;
  }

  .con:hover .con_modal{
    filter: blur(2px) brightness(0.5) grayscale(1);
    transition: all ease 0.5s;
  }
  .con:hover a{
    opacity: 1;
  }

  .con_modal{
    position: absolute;
    top:0;
    left:0;
    display: block;
    width: 100%;
    height: 100%;
  }
  .container--1 .con_modal{
    background:url(../images/waffle1.jpg);
    background-position: top center;
    background-size: 30rem;
  }
  .container--2 .con_modal{
    background:url(../images/wimp1.jpg);
    background-position: top center;
    background-size: 30rem;
  }
  .container--3 .con_modal{
    background:url(../images/annasui1.jpg);
    background-position: top center;
    background-size: 30rem;
  }
  .container--4 .con_modal{
    background:url(../images/madforgarlic1.jpg);
    background-position: top center;
    background-size: 30rem;
  }
  .container--5 .con_modal{
    background:url(../images/kirby1.png);
    background-position: top center;
    background-size: 30rem;
  }
  
  .con>a{
    position: relative;
    top:-40%;
    left: 28%;
    display:block;
    cursor: pointer;
    z-index: 90;
    color: #fff;
    text-shadow: 0px 0px 5px #fff;
    border-bottom: 1px solid #fff;
    padding: 10px 25px;
    opacity: 0;
    transition: all ease 1s;
    font-size: 20px;
  }
  .con>a:hover{
    transform: translateY(3px);
    border-color: transparent;
  }

  .con2{
    width: 15rem;
    height: 15rem;
    border: 1px solid var(--background-color);
    border-radius: 1.6rem;
    padding: 4rem;
    display: flex;
  }
  .container--1 .con2{
    background:url(../images/waffle2.jpg);
    background-position: top center;
    background-size: 15rem;
    box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2);
  }
  .container--2 .con2{
    background:url(../images/wimp2.jpg);
    background-position: top center;
    background-size: 15rem;
    box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2);
  }
  .container--3 .con2{
    background:url(../images/annasui2.jpg);
    background-position: top center;
    background-size: 15rem;
    box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2);
  }
  .container--4 .con2{
    background:url(../images/madforgarlic2.jpg);
    background-position: top center;
    background-size: 15rem;
    box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2);
  }
  .container--5 .con2{
    background:url(../images/kirby2.png);
    background-position: top center;
    background-size: 15rem;
    box-shadow: 0 0 3rem .5rem hsla(0, 0%, 0%, .2);
  }
  .con3{
    width: 15rem;
    height: 30rem;
    margin-left: 10px;
  }
  .con3>h3{
    margin-top: 20px;
    padding: 10px;
    border-bottom: 1px solid #fff;
    font-weight: 800;
    text-shadow: 0px 0px 10px rgb(31, 31, 31);
  }
  .con3>span{font-size: 12px;}
  .con3 ul{width: 100%; margin-top: 10px;}
  .con3 ul li {
    display: inline-block;
    border-radius: 15px;
    padding: 5px 15px;
    margin: 3px;
    font-size: 13px;
    color: #000;
    box-shadow: 0 5px 10px #111;
  }
  .container--1 h3{color: #ffc82f;}
  .container--1 li{background: #ffc82f;}
  .container--2 h3{color: #ec56c7;}
  .container--2 li{background: #ec56c7;}
  .container--3 h3{color: #9077b9;}
  .container--3 li{background: #9077b9;}
  .container--4 h3{color: #ac8e6a;}
  .container--4 li{background: #ac8e6a;}
  .container--5 h3{color: #e36499;}
  .container--5 li{background: #e36499;}

  
  .wrap:hover .container::before,
  .wrap:hover .container::after {
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
  }
  
  .abs-site-link {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: hsla(0, 0%, 0%, .6);
    font-size: 1.6rem;
  }

  .hover-target{
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
  }
  .hover-target:hover{
    text-shadow: 0px 0px 10px #fff;
  }


  /*가로 스크롤*/

  .wrapper {
    position: relative;
    margin: 0 auto;
  }
  
  .trigger {
    position: absolute;
  }
  .trigger--one {
    left: 0;
  }
  .scene {
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
  }

  .scene--active {
    position: fixed;
  }
  .scene--ended {
    position: absolute;
    bottom: 0;
    top: auto;
  }

  .horizontal-scroll-section {
    position: relative;
    min-height: 100vh;
    opacity: 0;
    transition: 0.2s opacity;
  }
  
  .horizontal-scroll-section--init {
    opacity: 1;
  }
  .horizontal-scroll-section__content {
    display: flex;
    align-items: center;
  }
  .horizontal-scroll-section__content-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
  }
  .horizontal-scroll-section__content-section {
    position: relative;
    text-align: center;
    padding: 0 40px;
    height: 100%;
    display: flex;
    align-items: center;
  }


   /* #Media
 ================================================== */
 
 @media (max-width: 1260px) { 
  .scroll-to-top{
    right: 13px;
  } 
  .section-title-wrap p{
    font-size: 18px;
}

  .case-study-images li .case-study-title{
    left: 13px;
  }
  .case-study-images li .logotitle img{
    width: auto;
    max-height: 14%;
    background: rgba(0,0,0,0.5);
  }
  .case-study-images li .bookcover img{
   width:auto;
   max-height:40%;
 }
 .case-study-images li .etc img{
   width: auto;
   max-height: 18%;
 }

 .info_box{
   width: 95%;
 }

 #svg1{
  right:0;
  bottom:-20px;
  width:100%;
}
#svg2{
  top:0%;
  left: 50%;
  transform: translate(-50%,0);
  width:100%;
}
#svg3{
  top:0%;
  left:0;
  width:100%;
}
#svg4{
  right:0;
  bottom:0;
  width:100%;
}

}

@media (max-width: 991px) { 
    .case-study-images li .hero-number-back{
        font-size: 20vw;
    } 
}

@media (max-width: 767px) {	
  .section-title-wrap p{
    font-size: 16px;
}
.section-title-wrap p>span:nth-child(2){
  display: block;
  background: transparent;
}
  .section-title-wrap h1{
    font-size: 45px;
}

  .info_left,.info_right{
    display: block;
    width: 100%;
  }
  .info_left{
    border: none;
  }

  #svg1{
    right:0;
    top:20px;
    width:100%;
  }

  #svg4{
    right:0;
    bottom:20%;
    width:100%;
  }

  .con {
    width: 20rem;
    height: 40rem;
  }

  .case-study-wrapper {
    background-color: rgba(31,32,41,.95);
    box-shadow: 0 0 10px rgba(0,0,0,.8);
  }
    .case-study-wrapper .case-study-name a {
        font-size: 11px;
        letter-spacing: 1px;
    text-align: center;
    margin: 5px;
    }
    .case-study-wrapper .case-study-name {
    margin: 0 auto;
    text-align: center;
    }
    .case-study-images li .hero-number-back{
        font-size: 32vw;
    } 

    .case-study-images li .case-study-title{
      left: 13px;
    }
    .case-study-images li .logotitle img{
      width: auto;
      max-height: 8.5%;
      background: rgba(0,0,0,0.5);
    }
    .case-study-images li .bookcover img{
     width:auto;
     max-height:25%;
   }
   .case-study-images li .etc img{
     width: auto;
     max-height: 11.5%;
   }
}
